.nav-wrapper {
    background-color: #3b2572;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .btn-large waves-effect waves-light{ background-color: #e14705 !important;

  }

  .carousel .carousel-item {
    width:350px !important;}
  
