.nav-wrapper {
    background-color: #3b2572;
    font-size: 14px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .btn-large waves-effect waves-light{ background-color: #e14705 !important;

  }

  .carousel .carousel-item {
    width:350px !important;}
  
     #footer{
      background-color: #3b2572;
      font-size: 14px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 240px;
    }
/* 
    #image {
      width: 250px;
  } */
    #loginbutton{
      background-color: #1abc9c;
    }

   #bag{
     background-color: black;
     
   }

   #cart{

  padding: 60px;
   }


   #title{
    padding: 55px;
     }

     #checkout{
       background-color: black;
     }

     #delete{
       background-color: black;
     }

     #card{ height: 65vh;
      width: 45vh;
      margin: .80%;
    
     }
 #vinylimg{ height: 40vh;
  width: 45vh;

}

#shopping{

padding: 35px;

}

#tagline{
  font-size: 18px;
}

#social{
  margin: .2%;
}

#seeinfo{
  background-color: black;
  color: whitesmoke;
}
/* 
     #cardinfo{ height: 40vh;
              width: 40vh;
     } 
      */