.nav-wrapper {
    background-color: #3b2572;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .btn-large waves-effect waves-light{ background-color: #e14705 !important;

  }

  .carousel .carousel-item {
    width:350px !important;}
  
     #footer{
      background-color: #3b2572;
      font-size: 14px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 240px;
    }

    #image {
      width: 250px;
  }
    #loginbutton{
      background-color: #1abc9c;
    }